.wrapper {
  position: fixed;
  width: 25rem;
  max-width: 95vw;
  background-color: var(--white);
  top: 1rem;
  z-index: 1000;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  box-shadow: var(--heavy-shadow);

  animation: slideInOut 4s ease;
  right: -30rem;

  &.toast {
    border-left: 0.5rem solid var(--primary-color);
  }

  &.error {
    border-left: 0.5rem solid var(--alert-color);
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-size: 1.3rem;
  margin: 0;
}

.body {
  margin: 0;
}

.image {
  border-radius: 100rem;
}

@keyframes slideInOut {
  0% {
    right: -30rem;
  }
  20% {
    right: 1rem;
  }
  80% {
    right: 1rem;
  }
  100% {
    right: -30rem;
  }
}
