<h2>Your order has been shipped!</h2>

<p>
  Your order with order id {{orderId}} was shipped on {{shippedDate}}. You can
  track it with USPS using the tracking number
  <a
    href="https://tools.usps.com/go/TrackConfirmAction?tRef=fullpage&tLc=2&text28777=&tLabels={{trackingNumber}}%2C&tABt=false"
    >{{trackingNumber}}</a
  >. You can view your order on your
  <a href="https://www.midwestdaisy.com/profile">profile page</a>.
</p>

<p>Below is a summary of your order:</p>
{{productList}}

<p>Subtotal: ${{subTotal}}</p>
<p>Shipping: ${{shippingCost}}</p>
<p>Tax: ${{tax}}</p>
<p>Total: ${{totalCost}}</p>

<p>Order Notes:</p>
<blockquote>{{notes}}</blockquote>

<p>
  Thanks so much for shopping with us, we hope you love your new items! If you
  have an questions, comments, or concerns, reply to this email or fill out the
  <a href="https://www.midwestdaisy.com/?modal=contact">form on my website</a>
  and I will get back with you right away.
</p>

<p>- Ceanne, Midwest Daisy</p>

<p>https://www.midwestdaisy.com</p>
