.background {
  z-index: var(--z-modal);
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(var(--black-value), 0.7);
  width: 100%;
  height: 100vh;
  border: none;
}

.container {
  background-color: var(--white);
  width: 90vw;
  max-width: 40rem;
  &.wide {
    max-width: 70rem;
  }
  max-height: 90vh;
  min-height: 25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  padding: 1rem;
}

.close {
  position: absolute;
  right: 1rem;
  z-index: var(--z-front);
}
