.container {
  width: 100%;
}

.inputWrapper {
  position: relative;
}

.label {
}

.input,
.textarea {
  width: 100%;
  padding: 0.5rem;
  color: var(--black);
  border: 0.1rem solid var(--neutral-color);
  border-radius: var(--border-radius);
  background-color: var(--white);
}

.invalid {
  border: 0.1rem solid var(--alert-color);
}

.input {
}

.textarea {
  height: 6rem;
  resize: vertical;
}

.checkboxField {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.checkbox {
  height: 1rem;
  width: 1rem;
}

.validation {
  color: var(--alert-color);
  margin: 0;
  font-style: italic;
}

.clear {
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
}
