.container {
  width: 100%;
}

.label {
}

.input,
.textarea {
  width: 100%;
  padding: 0.5rem;
  color: var(--black);
  border: 0.1rem solid var(--neutral-color);
  border-radius: var(--border-radius);
  background-color: var(--white);
}

.invalid {
  border: 0.1rem solid var(--alert-color);
}

.input {
}

.textarea {
  height: 6rem;
  resize: vertical;
}

.checkbox {
  vertical-align: middle;
  height: 1rem;
  width: 1rem;
}

.validation {
  color: var(--alert-color);
  margin: 0;
  font-style: italic;
}
