.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header {
  margin: 0;
}

.row {
  display: flex;
  gap: 0.5rem;
}

.images {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  max-height: 16rem;
  overflow-y: scroll;
  padding: 0;
}

.image {
  cursor: pointer;
}

.imageCheckbox {
  opacity: 0;
  position: absolute;

  &:focus + label > .image {
    border: 0.1rem solid var(--black);
  }

  &:checked + label > .image {
    border: 0.2rem solid var(--primary-color);

    &.primaryImage {
      border: 0.2rem solid var(--secondary-color);
    }
  }
}

.submit {
  align-self: flex-end;
}
