.container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;

  & > * {
    flex: 1;
  }

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.products {
  order: 1;

  @media (min-width: 600px) {
    order: -1;
  }
}

.orders {
  order: 0;
}

.content {
  white-space: pre-line;
  margin-bottom: 1rem;
}

.contentTitle {
  font-weight: bold;
  margin-right: 1rem;
}

.categoryTitle {
  margin: 0;
}
