.listItem {
  display: flex;
  gap: 0.5rem;
}

.addresses {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
}

.address {
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
}
