.button {
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border: 0.1rem solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: var(--border-radius);
  font-size: 1.2rem;

  &:hover {
    color: var(--primary-color);
    background-color: transparent;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
