.products {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 80rem;
  margin: 0 auto;
}

.product {
  width: 90vw;

  @media (min-width: 600px) {
    width: 15rem;
  }
}

.imageContainer {
  position: relative;

  & > .editButton,
  & > .imageNav {
    opacity: 1;
  }

  @media (min-width: 900px) {
    & > .editButton,
    & > .imageNav {
      opacity: 0;
    }

    &:hover {
      & > .editButton,
      & > .imageNav {
        opacity: 1;
      }
    }
  }
}

.imageNav {
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 2rem;

  &,
  & * {
    color: var(--yellow);
  }

  &.left {
    left: 0.3rem;
  }

  &.right {
    right: 0.3rem;
  }
}

.editButton {
  opacity: 0;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 10;
  &,
  & * {
    color: var(--green);
  }
}

.load {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
