.search {
  max-width: 20rem;
  margin-bottom: 1rem;
  margin-left: auto;
}

.products {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  max-width: 80rem;
  margin: 0 auto;
}

.product {
  width: 90vw;

  @media (min-width: 600px) {
    width: 15rem;
  }

  &.inactive {
    opacity: 0.5;
  }
}

.imageContainer {
  position: relative;

  transition: 0.2s;
  &:hover {
    scale: 1.03;
  }

  & > .editButton,
  & > .imageNav {
    opacity: 1;
  }

  @media (min-width: 900px) {
    & > .editButton,
    & > .imageNav {
      opacity: 0;
    }

    &:hover {
      & > .editButton,
      & > .imageNav {
        opacity: 1;
      }
    }
  }
}

.selectedImage,
.modalImage {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}

.imageNav {
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: var(--z-front);
  font-size: 2rem;

  &,
  & * {
    color: var(--secondary-color);
  }

  &.left {
    left: 0.3rem;
  }

  &.right {
    right: 0.3rem;
  }
}

.editButton {
  opacity: 0;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: var(--z-front);

  &,
  & * {
    color: var(--primary-color);
  }
}

.load {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.description {
  white-space: pre-line;
}
