.container {
  display: flex;
  gap: 1rem;
  flex-direction: column;

  @media (min-width: 60rem) {
    flex-direction: row;
    & > * {
      flex: 1;
    }
  }
}

.images {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 50rem) {
    flex-direction: row;
  }
}

.selectedImage,
.otherImage,
.relatedProductImage {
  object-fit: contain;
  height: auto;
  max-width: 100%;
}

.otherImages {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  @media (min-width: 50rem) {
    flex-direction: column;
  }
}

.selectedImage {
  transition: 0.2s;
  &:hover {
    transform: scale(1.03);
  }
}

.otherImage,
.relatedProductImage {
  transition: 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}

.info {
  @media (min-width: 60rem) {
    padding: 0 2rem;
  }
}

.title {
  margin: 0;
}

.description {
  margin: 0;
}

.priceAndQuantity {
  display: flex;
  justify-content: space-between;
}

.actions {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.relatedProducts {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  height: 8rem;
}

.relatedProductLink,
.relatedProductImage {
  max-width: 7rem;
  width: 7rem;
  height: 7rem;
}
