.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item {
  position: relative;
}

.edit {
  position: absolute;
  top: 0;
  right: 0;

  & > * {
    color: var(--primary-color);
  }
}

.notes {
  white-space: pre-line;
}
