.topBar {
  top: 0;
  height: 6rem;
  width: 100%;
  z-index: var(--z-front);
  background: var(--black);
  background: linear-gradient(to bottom, var(--black), transparent);
  position: fixed;

  &.gone {
    position: absolute;
    top: 250px;
  }
}

.toggle {
  opacity: 0;
  position: fixed;

  &:checked {
    & + .toggleButtonBorder > .toggleButton span {
      transform: rotate(45deg);

      &::before {
        top: 0;
        transform: rotate(0deg);
      }

      &::after {
        top: 0;
        transform: rotate(90deg);
      }

      &,
      &::before,
      &::after {
        background-color: var(--white);
      }
    }

    & ~ .nav {
      right: 0 !important;
    }
  }

  &:focus {
    & + .toggleButtonBorder {
      border: 0.1rem solid var(--black);
    }
  }
}

.toggleButtonBorder {
  z-index: calc(var(--z-nav) + 1);
  position: fixed;
  top: 1.1rem;
  right: 1.25rem;
  width: 2rem;
  height: 2rem;
}

.toggleButton {
  cursor: pointer;
  position: fixed;
  top: 2rem;
  right: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;

  & span {
    &:before {
      content: "";
      top: -8px;
    }

    &:after {
      content: "";
      top: 8px;
    }

    &,
    &::before,
    &::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 0.1rem;
      background-color: var(--primary-color);
      transition-duration: 0.3s;
    }
  }
}

.cartWrapper {
  position: fixed;
  top: 1.2rem;
  right: 4rem;
  z-index: var(--z-nav);
}

.cartLink {
  font-size: 1.3rem;
  text-decoration: none;
  display: flex;
  align-items: center;

  &,
  & * {
    color: var(--primary-color);
  }
}

.nav {
  z-index: var(--z-nav);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -100%;
  width: 18rem;
  height: 100%;
  margin: 0;
  padding: 5rem 0 1rem;
  list-style: none;
  background-color: var(--primary-color);
  box-shadow: var(--light-shadow);
  transition-duration: 0.3s;
}

.link {
  padding: 1rem 1rem;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  & * {
    color: var(--white);
    transition-duration: 0.3s;
  }

  &.active {
    border-left: 0.2rem solid var(--white);
  }

  &:hover {
    color: var(--primary-color);
    background-color: var(--white);

    & * {
      color: var(--primary-color);
    }

    &.active {
      border-left: 0.2rem solid var(--primary-color);
    }
  }
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userInfo {
  color: var(--white);
}

.footerItem {
  &,
  & * {
    vertical-align: middle;
    color: var(--grey);
  }
}

.line {
  width: 100%;
  border-bottom: 0.1rem solid var(--white);
}
