.toggle {
  opacity: 0;
  position: absolute;

  &:checked {
    & + .toggleButtonBorder > .toggleButton span {
      transform: rotate(45deg);

      &::before {
        top: 0;
        transform: rotate(0deg);
      }

      &::after {
        top: 0;
        transform: rotate(90deg);
      }

      &,
      &::before,
      &::after {
        background-color: var(--white);
      }
    }

    & ~ .nav {
      right: 0 !important;
    }
  }

  &:focus {
    & + .toggleButtonBorder {
      border: 0.1rem solid var(--black);
    }
  }
}

.toggleButtonBorder {
  z-index: 11;
  position: fixed;
  top: 1.1rem;
  right: 1.25rem;
  width: 2rem;
  height: 2rem;
}

.toggleButton {
  cursor: pointer;
  position: fixed;
  top: 2rem;
  right: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;

  & span {
    &:before {
      content: "";
      top: -8px;
    }

    &:after {
      content: "";
      top: 8px;
    }

    &,
    &::before,
    &::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 0.1rem;
      background-color: var(--primary-color);
      transition-duration: 0.3s;
    }
  }
}

.nav {
  z-index: 10;
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 18rem;
  height: 100%;
  margin: 0;
  padding: 5rem 0;
  list-style: none;
  background-color: var(--primary-color);
  box-shadow: var(--light-shadow);
  transition-duration: 0.3s;
}

.link {
  padding: 1rem 1rem;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  & * {
    color: var(--white);
    transition-duration: 0.3s;
  }

  &.active {
    border-left: 0.2rem solid var(--white);
  }

  &:hover {
    color: var(--primary-color);
    background-color: var(--white);

    & * {
      color: var(--primary-color);
    }

    &.active {
      border-left: 0.2rem solid var(--primary-color);
    }
  }
}
