.header {
  height: var(--header-height);
  position: relative;

  display: flex;
  align-items: center;
}

.banner {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  filter: saturate(1.2);
}

.title {
  margin: 0 auto;
  text-align: center;
  max-width: 90%;
  color: var(--white);
  font-size: 2rem;
  text-shadow: -0.1rem -0.1rem 0 var(--primary-color),
    0.1rem -0.1rem 0 var(--primary-color), -0.1rem 0.1rem 0 var(--primary-color),
    0.1rem 0.1rem 0 var(--primary-color);

  opacity: 0;
}

.homeImageLink {
  position: fixed;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--z-front);

  transition: 0.4s ease-in-out;

  &.float {
    top: 0;
    left: 0;
    scale: 0.3;
    transform: translate(-15rem, -15rem);
  }
}

.logo {
  border-radius: 50%;
  box-shadow: var(--heavy-shadow);
}
