@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --green: #10898d;
  --yellow: #ffd900;
  --red: #aa0000;
  --grey: #cccccc;
  --black: #333333;
  --white: #fafafa;

  --primary-color: var(--green);
  --secondary-color: var(--yellow);
  --alert-color: var(--red);
  --neutral-color: var(--grey);

  --border-radius: 0.2rem;

  --light-shadow: rgba(0, 0, 0, 0.4) 0.1rem 0.1rem 0.5rem;
  --heavy-shadow: rgba(0, 0, 0, 0.35) 0 0.3rem 1rem;

  --footer-height: 3rem;
  --header-height: 20rem;
}

* {
  color: var(--black);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
}
