@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  // color: rgb(169, 255, 212); // test line to get color picker

  --green-value: 169, 255, 212;
  --yellow-value: 256, 196, 0;
  --pink-value: 224, 176, 210;
  --red-value: 170, 0, 0;
  --grey-value: 204, 204, 204;
  --dark-grey-value: 120, 120, 120;
  --black-value: 51, 51, 51;
  --white-value: 250, 250, 250;

  --primary-color-value: var(--pink-value);
  --secondary-color-value: var(--green-value);
  --alert-color-value: var(--red-value);
  --neutral-color-value: var(--grey-value);

  --green: rgb(var(--green-value));
  --yellow: rgb(var(--yellow-value));
  --pink: rgb(var(--pink-value));
  --red: rgb(var(--red-value));
  --grey: rgb(var(--grey-value));
  --dark-grey: rgb(var(--dark-grey-value));
  --black: rgb(var(--black-value));
  --white: rgb(var(--white-value));

  --primary-color: rgb(var(--primary-color-value));
  --secondary-color: rgb(var(--secondary-color-value));
  --alert-color: rgb(var(--alert-color-value));
  --neutral-color: rgb(var(--neutral-color-value));

  --border-radius: 0.2rem;

  --light-shadow: rgba(0, 0, 0, 0.4) 0.1rem 0.1rem 0.5rem;
  --heavy-shadow: rgba(0, 0, 0, 0.35) 0 0.3rem 1rem;

  --footer-height: 20rem;
  --header-height: 20rem;
  --nav-width: 18rem;

  --z-front: 1;
  --z-back: -1;
  --z-nav: 10;
  --z-modal: 100;
  --z-notification: 1000;
}

* {
  color: var(--black);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  scroll-behavior: smooth;
}

// Cursor Selection
::selection {
  background: var(--secondary-color); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--secondary-color); /* Gecko Browsers */
}

// Scrollbar
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
::-webkit-scrollbar-track {
  background: var(--primary-color);
}
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}
