.loader {
  width: 3rem;
  height: 3rem;
  margin: 0 auto;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0.3rem solid var(--white);
    border-color: var(--white) var(--primary-color) var(--white)
      var(--primary-color);
    animation: loader 1.2s linear infinite;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
